:root{
    --color-background: #fff;
    --color-text: #ed1692;
    --color-border: #000;
    --color-placeholder: #333;
    --color-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-link: #1a73e8;
    --color-divider: #ddd;
    --color-social-hover: #da2864;
    --color-floating-label: #5f6368;
    --color-pink: #FFA9DF;
    --color-blue: #A7E9FF;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans", sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.form-container{
    position: relative;
    background: linear-gradient(to bottom, #FFA9DF, #A7E9FF);
    padding: 50px 40px;
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    overflow: hidden;
}

.form-header{
    position: relative;
    z-index: 1;
}

.form-header p{
    color: var(--color-placeholder);
}

.form-header h1{
    font-size: 40px;
      font-family: 'Lucida Handwriting', cursive;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.input-group{
    position: relative;
    display: flex;
}

.input-field{
    height: 48px;
    padding-inline: 14px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    width: 100%;
    outline: none;
}

#password{
    padding-right: 30px;
}

.floating-label{
    position: absolute; 
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: var(--color-placeholder);
    background-color: var(--color-white);
    padding-inline: 6px;
    transition: all .3s ease;
    pointer-events: none;
}

.input-field:focus ~ .floating-label,
.input-field:not(:placeholder-shown) ~ .floating-label{
    top: 0;
    left: 8px;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--color-primary);
}


