.add-book-container {
            background: #fff;
            padding: 40px;
            border-radius: 15px;
            max-width: 900px;
            margin: 50px auto;
            box-shadow: 0 5px 20px rgba(0,0,0,0.05);
        }
        .form-grid {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
        }
        .input-box {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 1rem;
            margin-bottom: 20px;
        }
        .textarea-box {
            height: 250px;
            resize: none;
        }
        .cover-upload {
            border: 2px dashed #ccc;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            height: 335px; /* За да се изравни с описанието */
            transition: 0.3s;
        }
        .cover-upload:hover {
            border-color: #88c1f1;
            background: #f9f9f9;
        }